body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    float: left;
    background: white;
}

.Memorize .gem {
    background: red;
}

.Play .selected {
    background: gold;
}

.gameOver {
    position: relative;
}

.gameOver .gameOver__overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(255,255,0,0.5);
}
